<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <body>
    {{> header}}
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <div class="container">
      {{{body}}}
    </div>
      
      <style>
  .footer {
    padding: 10px;
    bottom: 0;
    left: 0;
    background: #c9c9c9;
    color: black;
    width: 100%;
  }
</style>
<br><br><br><br><br>
<!--<div class="footer">
  <p>Online shopping in India at its best</p><br>
<p style="font-size: 10px">It's no longer just the privilege of a metro city or an urban area to shop online for their favorite products. Flipkart is one online shopping site that has made it possible for consumers even in the remote areas of India to avail products from the best brands at low prices online. Considering the present lifestyle of people, it's no surprise that they prefer to buy online most of the products that they need on a daily basis like clothes for men and women, electronics, mobiles, home appliances, products for personal beauty and care , and the like. The ultimate convenience of having to simply browse through their favorite online shopping website and place orders from the comfort of their home, and get it delivered in the shortest time possible at their doorstep is a service that is unbeatable.</p>
</div>-->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
